In [1]:
from urllib import request
import pandas as pd
import wikipedia

<h3>Fecth and convert table in Data frame (df)</h3>

In [2]:
html_page=wikipedia.page("List_of_postal_codes_of_Canada:_M").html().encode("UTF-8")

In [3]:
df=pd.read_html(html_page,header=0)[0]

In [4]:
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,NaN

<h3>Remove "Not assigned" Borough</h3>

In [5]:
df=df.set_index("Borough")
df=df.drop('Not assigned',axis=0)
df=df.reset_index()

In [6]:
df

,Borough,Postal Code,Neighborhood
0,North York,M3A,Parkwoods
1,North York,M4A,Victoria Village
2,Downtown Toronto,M5A,Regent Park / Harbourfront
3,North York,M6A,Lawrence Manor / Lawrence Heights
4,Downtown Toronto,M7A,Queen's Park / Ontario Provincial Government
...,...,...,...
98,Etobicoke,M8X,The Kingsway / Montgomery Road / Old Mill North
99,Downtown Toronto,M4Y,Church and Wellesley
100,East Toronto,M7Y,Business reply mail Processing Centre
101,Etobicoke,M8Y,Old Mill South / King's Mill Park / Sunnylea /...
102,Etobicoke,M8Z,Mimico NW / The Queensway West / South of Bloo...

<h3>Same postalcode Neighborhood in one row</h3>

In [7]:
for i in range(0,len(df)):
    df.iloc[i,2]=df.iloc[i,2].replace("/",',')
df

,Borough,Postal Code,Neighborhood
0,North York,M3A,Parkwoods
1,North York,M4A,Victoria Village
2,Downtown Toronto,M5A,"Regent Park , Harbourfront"
3,North York,M6A,"Lawrence Manor , Lawrence Heights"
4,Downtown Toronto,M7A,"Queen's Park , Ontario Provincial Government"
...,...,...,...
98,Etobicoke,M8X,"The Kingsway , Montgomery Road , Old Mill North"
99,Downtown Toronto,M4Y,Church and Wellesley
100,East Toronto,M7Y,Business reply mail Processing Centre
101,Etobicoke,M8Y,"Old Mill South , King's Mill Park , Sunnylea ,..."
102,Etobicoke,M8Z,"Mimico NW , The Queensway West , South of Bloo..."

In [8]:
df.shape

(103, 3)

<h3>Add Latitude and Longitude columns</h3>

In [13]:
Geospatial_data="Geospatial_Coordinates.csv"
Geo_df=pd.read_csv(Geospatial_data)

In [10]:
Geo_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [11]:
df['Latitude']=""
df['Longitude']=""

In [12]:
for i in range(0,len(df)):
    ind=Geo_df.index[Geo_df["Postal Code"]==df.loc[i,"Postal Code"]].tolist()
    df.loc[i,'Latitude']=Geo_df.loc[ind[0],"Latitude"]
    df.loc[i,"Longitude"]=Geo_df.loc[ind[0],"Longitude"]
df

,Borough,Postal Code,Neighborhood,Latitude,Longitude
0,North York,M3A,Parkwoods,43.7533,-79.3297
1,North York,M4A,Victoria Village,43.7259,-79.3156
2,Downtown Toronto,M5A,"Regent Park , Harbourfront",43.6543,-79.3606
3,North York,M6A,"Lawrence Manor , Lawrence Heights",43.7185,-79.4648
4,Downtown Toronto,M7A,"Queen's Park , Ontario Provincial Government",43.6623,-79.3895
...,...,...,...,...,...
98,Etobicoke,M8X,"The Kingsway , Montgomery Road , Old Mill North",43.6537,-79.5069
99,Downtown Toronto,M4Y,Church and Wellesley,43.6659,-79.3832
100,East Toronto,M7Y,Business reply mail Processing Centre,43.6627,-79.3216
101,Etobicoke,M8Y,"Old Mill South , King's Mill Park , Sunnylea ,...",43.6363,-79.4985
102,Etobicoke,M8Z,"Mimico NW , The Queensway West , South of Bloo...",43.6288,-79.521