In [1]:
from urllib import request
import pandas as pd
import wikipedia

<h3>Fecth and convert table in Data frame (df)</h3>

In [2]:
html_page=wikipedia.page("List_of_postal_codes_of_Canada:_M").html().encode("UTF-8")

In [3]:
df=pd.read_html(html_page,header=0)[0]

In [4]:
df

,Postalcode,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,NaN

<h3>Remove "Not assigned" Borough</h3>

In [6]:
df=df.set_index("Borough")
df=df.drop('Not assigned',axis=0)
df=df.reset_index()

In [7]:
df

,Borough,Postalcode,Neighborhood
0,North York,M3A,Parkwoods
1,North York,M4A,Victoria Village
2,Downtown Toronto,M5A,Regent Park / Harbourfront
3,North York,M6A,Lawrence Manor / Lawrence Heights
4,Downtown Toronto,M7A,Queen's Park / Ontario Provincial Government
...,...,...,...
98,Etobicoke,M8X,The Kingsway / Montgomery Road / Old Mill North
99,Downtown Toronto,M4Y,Church and Wellesley
100,East Toronto,M7Y,Business reply mail Processing Centre
101,Etobicoke,M8Y,Old Mill South / King's Mill Park / Sunnylea /...
102,Etobicoke,M8Z,Mimico NW / The Queensway West / South of Bloo...

<h3>Same postalcode Neighborhood in one row</h3>

In [10]:
for i in range(0,len(df)):
    df.iloc[i,2]=df.iloc[i,2].replace("/",',')
df

,Borough,Postalcode,Neighborhood
0,North York,M3A,Parkwoods
1,North York,M4A,Victoria Village
2,Downtown Toronto,M5A,"Regent Park , Harbourfront"
3,North York,M6A,"Lawrence Manor , Lawrence Heights"
4,Downtown Toronto,M7A,"Queen's Park , Ontario Provincial Government"
...,...,...,...
98,Etobicoke,M8X,"The Kingsway , Montgomery Road , Old Mill North"
99,Downtown Toronto,M4Y,Church and Wellesley
100,East Toronto,M7Y,Business reply mail Processing Centre
101,Etobicoke,M8Y,"Old Mill South , King's Mill Park , Sunnylea ,..."
102,Etobicoke,M8Z,"Mimico NW , The Queensway West , South of Bloo..."

In [9]:
df.shape

(103, 3)